.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bgimg{
  background-image: url('https://images.pexels.com/photos/7080470/pexels-photo-7080470.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-repeat: no-repeat;
  background-size: cover;
    background-position: center;
}

.card {
    backdrop-filter: blur(15px) saturate(180%);
    -webkit-backdrop-filter: blur(15px) saturate(180%);
    border-radius: 12px;
}

.cardgreen {
     backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(1, 252, 85, 0.43);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.cardyellow {
     backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(252, 202, 1, 0.43);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.cardorange {
        backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(252, 143, 1, 0.43);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}
.cardred {
       backdrop-filter: blur(18px) saturate(180%);
    -webkit-backdrop-filter: blur(18px) saturate(180%);
    background-color: rgba(252, 1, 1, 0.43);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
